<%- include("partials/header.ejs") %>
    <section class="container-xl my-5 py-3 secondary" >
        <h2 class="text-center mb-5">About</h2>
        <p>CoinMelon is a fake crypto website created by Travis Schlief. The project showcases the use of an API to fetch market data to buy and sell fake crypto coins.</p>
        <p>A simple authentication system was implemented to allow users to create their own profiles and keep track of their crypto portfolio. A database was not used therefore user data will not persist.</p>
    </section>
<%- include("partials/footer.ejs") %>