<%- include("partials/header.ejs") %>
    <section class="container-xl my-5 py-3 secondary" >
        <h2 class="text-center">Our Fees</h2>
        <h4>Only 1% per trade.</h4>
        <p>While other exchanges may burden you with hefty transaction costs, our commitment to transparency and fairness ensures that you only pay a minimal fee of 1% per trade. This not only maximizes your returns but also fosters a community of savvy investors who appreciate the simplicity and cost-effectiveness of our platform. Join us in revolutionizing the crypto trading landscape, where every percentage point counts, and your financial success is our top priority.</p>
    </section>
<%- include("partials/footer.ejs") %>