<%- include("partials/header.ejs") %>
<h2 class="text-center">Settings</h2>
<p class="text-center">Place holder for settings page. Would be used to change user profile data such as password, preferred currency, etc. </p>
<%- include("partials/footer.ejs") %>