<%- include("partials/header.ejs") %>

<section class="container">
  <div class="row justify-content-center">
    <h2 class="text-center my-5">Register New Member</h2>
    <form class="col-xl-4 col-lg-5 col-md-6 col-sm-7" method="POST" action="/sign-up">
 
      <div class="form-outline mb-2">
        <input type="email" name="username" class="form-control" required/>
        <label class="form-label" for="username">Email address</label>
      </div>
      

      <div class="form-outline mb-2">
        <input type="text" name="firstname" class="form-control" required/>
        <label class="form-label" for="firstname">First Name</label>
      </div>   
      
      <div class="form-outline mb-2">
        <input type="text" name="lastname" class="form-control" required/>
        <label class="form-label" for="lastname">Last Name</label>
      </div>   
      
      <div class="form-outline mb-2">
        <input type="password" name="password" class="form-control" required/>
        <label class="form-label" for="password">Password</label>
      </div>

      
      <div class="form-outline mb-3">
        <input type="password" name="confirmPassword" class="form-control" required/>
        <label class="form-label" for="confirmPassword">Confirm Password</label>
      </div>
      
      
      <% if(locals.invalid) { %>
          <p class="mb-1 fs-4 text-danger"><%= locals.invalid %></p>
      <% } %>
      
    
      <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
      
     
    </form>
    
    </div>
  </section>

  <%- include("partials/footer.ejs") %>


